/* common style  */
:root {
  --primary-color: #ff900e;
  --secondary-color: #727272;
  --tertiary--color: #131313;
  --primary-background: #fff4e7;
  --primary-border: #ff900e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 1224px;
  margin: 0 auto;
}
#primary__text {
  color: var(--primary-color);
}
#secondary__text {
  color: var(--secondary-color);
  font-weight: 400;
}
/* title style  */
.banner__title,
.feature__title,
.experience__title,
.item__title,
.fact__title,
.sponsor__title,
.question__title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.banner__title {
  font-size: 3rem;
  text-align: center;
}
.experience__title {
  font-size: 3rem;
  max-width: 80%;
  border-left: 3px solid var(--primary-color);
  padding-left: 1.5rem;
}
.item__title {
  font-size: 1.5rem;
}

.question__title {
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 3rem;
}

/* text style  */
.banner__text,
.feature__text,
.experience__text,
.item__text,
.fact__text,
.fact__item--text,
.sponsor__text {
  color: var(--secondary-color);
  font-size: 1rem;
  line-height: 2;
}
.banner__text {
  text-align: center;
  margin-bottom: 1.5rem;
}
.feature__text {
  margin-bottom: 1.5rem;
}
.experience__text {
  margin-bottom: 1.5rem;
  width: 430px;
}
.fact__item--text {
  margin-top: 0.3rem;
}
.sponsor__text {
  max-width: 50%;
  text-align: center;
}

/* btn style  */
.primary__btn {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

/* nav style  */
header {
  background: var(--primary-background);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav > ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 1rem;
}

/* banner section style  */
.banner__section {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.banner__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.banner__img {
  padding-bottom: 2rem;
}
.banner__img img {
  width: 100%;
}

/* feature section start  */
.feature__section {
  margin-top: 3rem;
  display: flex;
}
.feature__img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.feature__img img {
  max-width: 340px;
  max-height: 340px;
}
.feature__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

/* experience section style  */
.experience__section {
  display: flex;
  margin-top: 5rem;
}

.experience__items {
  margin-top: 2rem;
}
.experience__item {
  max-width: 480px;
  padding: 2rem 1.5rem;
  margin: 20px;
  box-shadow: 0 0 50px #e4e4e4;
}

.experience__img {
  max-width: 800px;
  max-height: 1050px;
}
.experience__img img {
  width: 100%;
}
.secondary__btn {
  background-color: var(--primary-color);
  color: white;
  padding: 1.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  position: relative;
  bottom: 50px;
  right: 40px;
}

/* fact section style  */
.fact__container {
  max-width: 50%;
  margin-top: 4rem;
}

.fact__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.fact__item {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 2rem;
  z-index: 0;
  transition: 0.2s all;
}
.fact__item:hover {
  z-index: 1;
  transform: scale(1.05);
  box-shadow: 0 8px 50px rgb(0, 0, 0, 0.2);
}
.fact__item--number {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 0.3rem;
}

/* sponsor section style  */
.sponsor__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.sponsors {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 8rem;
  filter: grayscale(100%);
}
/* question section style  */
.question__section {
  background-color: var(--primary-background);
}
.question__container {
  display: flex;
}

.question__img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question__img img {
  width: 70%;
}
.question__form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question__form > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  margin: 0 4rem;
}
.question__form > form > input,
textarea {
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  /* border: 1px solid var(--secondary-color); */
  border: none;
  box-shadow: 0 8px 20px rgba(212, 212, 212, 0.2);
  color: var(--secondary-color);
  border-radius: 5px;
}
#input__btn {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  padding: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
/* footer section style  */
footer {
  background-color: var(--primary-background);
  margin-top: 100px;
  padding: 30px 0;
}
footer > p {
  text-align: center;
  color: var(--secondary-color);
  margin-top: 2rem;
  padding: 4rem;
}

/* media query  */
@media only screen and (max-width: 688px) {
  /* body {
    max-width: 100%;
  } */
  nav {
    align-items: flex-start;
  }
  nav > ul {
    flex-direction: column;
    padding-right: 1rem;
  }
  nav > h2 {
    align-items: flex-start;
    padding-left: 1rem;
  }
  .feature__section {
    flex-direction: column;
  }

  .feature__img {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 2rem;
    width: 100%;
  }
  .feature__title {
    margin-top: 2rem;
  }
  .experience__section {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }

  .experience__text {
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }
  .experience__item {
    padding: 4rem 2rem;
  }
  .secondary__btn {
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    position: relative;
    bottom: 50px;
    left: 140px;
    top: -50px;
  }
  /* re check  */

  .sponsor__container {
    width: 100%;
  }
  .sponsor__text {
    max-width: 100%;
    padding: 0 10px;
    text-align: center;
  }
  .fact__container {
    max-width: 100%;
    padding: 0 10px;
  }
  .fact__items {
    padding: 0 10px;
    flex-direction: column;
    padding: 0 3rem;
  }

  .fact__item {
    margin-bottom: 2rem;
    flex-direction: column;
    padding: 5rem 3rem;
  }
  .sponsors {
    flex-direction: column;
    align-items: center;
  }
  .sponsors img {
    margin-bottom: 2rem;
  }
  /* re check  */
  .question__container {
    flex-direction: column;
    align-items: center;
  }
  .question__img {
    width: 100%;
    margin-bottom: 2rem;
  }
  .question__form {
    width: 100%;
  }
}
